<div id="search">
<%= form_tag refinery.search_path do -%>
  <%= text_field_tag :query, {}, {:type => "search",
                     :placeholder => "Enter search term...",
                     :value => (params[:query] if params[:query])} %>
  <%= submit_tag 'Go' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "Sign up", refinery.login_path%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "Log in", refinery.login_path%>
<% end %>
</div>

<h1 id='logo'>
  <%= link_to Refinery::Core.site_name, refinery.root_path %>
</h1>

<%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
